<ion-header>
  <ion-toolbar color="primary">
      <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons>
    <ion-title>About</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <p>With this app, you can search movies with the search option.  This search function will bring up movies that you can select and give you some details about it.  This will consist of giving the Genre, title, year, plot imdbRating, Director, Actors and website if applicable.</p>
  <p>With the random option, you can utilize this function to see new movies that you may have not seen.</p>
  <p>Login Authentication</p>
  <p>Chat room</p>
  <p>Store your favorite movies</p>

</ion-content>
