<ion-header>
  <ion-toolbar color="primary">
    <ion-title>My Movie Search</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-button mat-raised-button class="button" color="dark" routerLink="/movies">Movie Search</ion-button>
  </div>
  <div class="ion-padding">
      <ion-button mat-raised-button class="button" color="dark" routerLink="/random">Random Movie</ion-button>
    </div>
  <div class="ion-padding">
    <ion-button mat-raised-button class="button" color="dark" routerLink="/about">About</ion-button>
  </div>
</ion-content>
